body{
    background-color: #addd;
    text-align: center;
 
}
  
div{
margin: 100px auto 0px;
 background-color: rgba(0, 0, 0, 0.5);
 width: 50%;
 font-size: 18px;
 border-radius: 10px;
 border: 1px solid rgba(0, 0, 0, 0.3);
 box-shadow: 2px , 2px, 15px;


}
 button{
    border-radius: 10px;
    padding: 10px;
    background-color: wheat;
 }